@charset "utf-8";
/* CSS Document */

/* The animation code */

.line {
    /*width: 100px;
    height: 50px;
    background-color: red;
    font-weight: bold;
    position: relative;*/
    
}

/* Chrome, Safari, Opera */
/*.line {-webkit-animation-timing-function: ease-in-out;}


/* Standard syntax */
/*.line {animation-timing-function: ease-in-out;}

/* Chrome, Safari, Opera */
@-webkit-keyframes moveLine {
    from {width: 100%;}
    to {width: 0%;}
}

/* Standard syntax */
@keyframes moveLine {
    from {width: 100%;}
    to {width: 0%;}
}


.rushappear {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.rush:hover .rushappear{
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}

.rush:hover .change{
  /*color:#AE1A26;*/
  
  text-shadow: 5px 5px 15px rgba(174, 26, 38, 0.99);
}


.rushappear {
    position: absolute;
    left: 0;
    right: 0;
    padding: 5px;
    box-sizing: border-box;
    /* width: 100%; */
     margin-left: 15px; 
    /* margin-right: 10px; */
    bottom: 10px;
    background-color: rgba(0,0,0,0.8);
    z-index: 20;
    color: #FFF;
    font-family: "Oswald";
    letter-spacing: 5px;
/*    margin: 0px 15px 0 10px;*/
    font-weight: 300;
    text-transform: uppercase;
    text-rendering: optimizelegibility;
    font-size: 2.2rem;
    text-align: center;
    opacity: 0;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}


/*
.rushappear{
	position:absolute;
	left:0;
	right:0;
	padding:5px;
	box-sizing:border-box;
	width:100%;
	margin-left:10px;
	margin-right:10px;
   /* -webkit-transform: translate(-50%,-50%);
  	transform: translate(-50%,-50%);
  	top: 50%;
  	left: 50%;*
	bottom:10px;
	background-color:rgba(0,0,0,0.8);
	z-index:20;
	color:#FFF;
	font-family:"Oswald";
	letter-spacing: 5px;
	margin: 0 0 0 0;
    font-weight: 300;
    text-transform: uppercase;
    text-rendering: optimizelegibility;
	font-size: 2.3rem;
	text-align:center;
	opacity: 0;
	
}*/